.btn-wrapper {
  display: flex;
  justify-content: center;
  &.between {
    justify-content: space-between;
  }
  button {
    margin-right: 12px;
    &:last-child {
      margin-right: 0;
    }
  }
  .wrapper-left {
    display: flex;
    align-items: center;
    button {
      margin-right: 12px;
    }
  }
  .wrapper-right {
    display: flex;
    align-items: center;
    button {
      margin-left: 12px;
    }
  }
}

.pagination-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.search-form {
  .el-form-item {
    margin-bottom: 2px !important;
  }
}
